// Place all the styles related to the Reminders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 35px;
}

h1 {
  margin-bottom: 40px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

table {
  border-spacing: 0;
  box-shadow: 10px 20px 30px grey;
  margin-bottom: 40px;
}

th {
  border: solid green 10px;
  background-color: green;
  color: white;
}

th {
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
}

td {
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
}

tr:nth-child(2n) {
  background-color: #bdf5bd;
}

.field label {
  display: block;
  margin-top: 15px;
}

.actions {
  margin-top: 25px;
}

form {
  margin-bottom: 10px;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
}